<%= render "unity", game: @game.path %>
<div class="login_container">
  <div id="unityPlayer">
    <div class="missing">
      <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
      </a>
    </div>
  </div>

  <%= div_for(@game, :class => "game") do |g| %>
      <%= link_to game_play_url(game: g.path) do %>
       <div class="placeholder">

       </div>
      <% end %>

    <div class="description">
      <h4><%= g.name %></h4>
      <p><%= g.description %></p>
    </div>

  <% end %>
</div>
