<%= simple_form_for @game do |f| %>
  <div class="module clear">
    <h1>Game</h1>
    <hr/>
    <%= f.input :name  , placeholder: 'Name of Game'%>
    <%= f.input :path  , placeholder: 'The game Url path, ie how its accessed games/{path}'%>
    <%= f.input :token  , placeholder: 'The Adage app token for the game'%>

    <%= f.simple_fields_for :survey do |s| %>
      <%= s.input :url , required: false, label: "Survey Url" ,placeholder: 'Link to the google form survey' %>
    <% end %>

    <%= f.input :description, placeholder: ' Description of the game'%>
    <%= f.input :microsite, placeholder: 'Link to Microsite for the game'%>
    <%= f.input :external_download, placeholder: 'Link to external download for the game, if it is not web-playable' %>

    <%= f.input :image ,class: :module %>
    <% if @game.image? %>
      <div id="image">
        <%= image_tag(@game.image) %>
      </div>
    <% end %>

    <div id="file">
      <%= f.input :file , placeholder: 'Actual Game File',class: :module %>
      <% if @game.file? %>
        <span id="fileinput" class="module">
          <%= link_to @game.file.to_s.split(/[\/|\?]/)[-2],raw(@game.file)%>
        </span>
      <% end %>
    </div>

    <%= f.input :localpath, placeholder: 'Path to a local game folder (for games hosted as a directory)'%>
  </div>


  <div class="module clear">
    <h1>Attachments</h1>
    <hr/>

    <h2><%= link_to_add_fields("Add Another Attachment",f,:attachments) %></h2>

      <% @game.attachments.each do |a| %>
        <% unless a.file.blank? %>
          <%= f.simple_fields_for :attachments,a do |b| %>
            <div class="fields">
              <%= b.input :description  %>
              <%= b.input :file ,class: :module,as: :file %>
              <h4><%= link_to a.file.original_filename, raw(a.file) %></h4>
              <label>Type</label><%= b.select :type, [:lessons,:cirriculum] %>
              <h3><%= link_to_remove_fields "remove",b %></h3>
            </div>
          <% end %>
        <% end %>
      <% end %>


    <%= f.button :submit%>
  </div>
<% end %>