<%= simple_form_for @game do |f| %>
  <%= f.input :name  , placeholder: 'Name of Game'%>
  <%= f.input :path  , placeholder: 'The game Url path, ie how its accessed games/{path}'%>

  <%= f.simple_fields_for :survey do |s| %>
    <%= s.input :url , required: false, label: "Survey Url" ,placeholder: 'Link to the google form survey' %>
  <% end %>

  <%= f.input :description, placeholder: ' Description of the game'%>
  <%= f.input :microsite, placeholder: 'Link to Microsite for the game'%>
  <%= f.input :external_download, placeholder: 'Link to external download for the game, if it is not web-playable' %>

  <%= f.input :image %>
  <% if @game.image? %>
    <div id="image">
      <%= image_tag(@game.image) %>
    </div>
  <% end %>

  <div id="file">
    <%= f.input :file , placeholder: 'Actual Game File'%>
    <% if @game.file? %>
      <span id="fileinput">
        <%= link_to @game.file.to_s.split(/[\/|\?]/)[-2],raw(@game.file)%>
      </span>
    <% end %>
  </div>

  <%= f.input :lesson_plan %>
  <%= f.input :cirriculum %>

  <%= f.input :localpath, placeholder: 'Path to a local game folder (for games hosted as a directory)'%>

  <%= f.button :submit%>
<% end %>