<%= div_for(games, class: "game_container") do |g| %>
  <img src="<%= g.image.url %>" class="left"/>

  <div class="game_description">
    <h1><%= g.name %></h1>
    <p><%= g.description %></p>

    <% if g.file.exists? or can? :show, g %>
      <ul class="game_nav">
        <% if g.file.exists? %>
          <%= link_to play_game_url(id: g.path) do %>
            <li>Play</li>
          <% end %>
        <% end %>

        <% if can? :landing, g  %>
          <%= link_to game_landing_url(id: g.path) do %>
            <li>Resources</li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>