<div id="games">
  <%= div_for(games, :class => "") do |g| %>
    <%= link_to play_game_url(id: g.path) do %>
     <div class="placeholder">
        <%= image_tag g.image.url %>
     </div>
    <% end %>

    <div class="description">
      <h1><%= g.name %></h1>
      <p><%= g.description %></p>
    </div>

    <div id="game_links">
      <%= link_to "Play",play_game_url(id: g.path), class: "link"%>
      <%= link_to "Resources",game_landing_url(id: g.path), class: "link" %>
    </div>
  <% end %>
</div>