<%= div_for(games, class: "game_container") do |g| %>
  <img src="<%= g.image.url %>" class="left"/>

  <div class="game_description">
    <h1><%= g.name %></h1>
    <p><%= g.description %></p>

    <% if g.file.exists? or can? :show, g %>
      <ul class="game_nav">
        <% if g.file.exists? %>
          <%= link_to play_game_url(id: g.path) do %>
            <li>Play</li>
          <% end %>
        <% end %>

        <% if can? :resource, g  %>
          <% if g.cirriculum.exists? %>
            <%= link_to g.cirriculum.url, target: "_blank" do %>
              <li>Cirriculum<li>
            <% end %>
          <% end %>

          <% if g.lesson_plan.exists? %>
            <%= link_to g.lesson_plan.url, target: "_blank"  do %>
              <li>Lesson Plans<li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>