<div id="container">

  <%= div_for(@game) do |g| %>
    <div class="placeholder">
      <% if current_user && g.file.exists? %>
        <%= link_to play_game_url(id: g.path) do %>
            <%= image_tag g.image.url, class: "game-img" %>
        <% end %>
      <% else %>
        <%= image_tag g.image.url, class: "game-img" %>
      <% end %>
    </div>

    <div class="description">
      <h1><%= g.name %></h1>
      <p><% raw g.description %></p>
    </div>
  <% end %>

  <% if @game.about? %>
    <div id="about" >
      <p class="readable">
        <% raw @game.about %>
      </p>
    </div>
  <% end %>


  <% if @game.resources? %>
    <div id="resources">
      <h2>Resources</h2>
      <%= raw @game.resources %>
    </div>
  <% end %>

  <div id="play">
    <% if @game.file.exists? %>
      <%= link_to "Play", play_game_url(id: @game.path), class: "button" %>
    <% end %>

    <% unless @game.survey.url.blank? %>
      <%= link_to "Survey", survey_game_url(id: @game.path), class: "button" %>
    <% end %>
  </div>
</div>

<%= render "user/admin" %>