<%= render "unity", game: @game.path %>
<div class="login_container">

  <% if @game.localpath.nil? %>
    <div id="unityPlayer">
      <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
          <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
      </div>
    </div>
  <% else %>
    <script type="text/javascript">

    function getFlashMovieObject(movieName){
      if (window.document[movieName]){
        return window.document[movieName];
      }
      if (navigator.appName.indexOf("Microsoft Internet")==-1){
        if (document.embeds && document.embeds[movieName])
          return document.embeds[movieName];
      }
      else{
        return document.getElementById(movieName);
      }
    }

    function SendAuthToken(token){
      var flashMovie=getFlashMovieObject("Main");
      flashMovie.sendAuthToken(token);
    }

    function SendAccessToken(token){
      var flashMovie=getFlashMovieObject("Main");
      flashMovie.sendAccessToken(token);
    }

    function requestAuthToken(){
      // Please uncomment this!
       SendAuthToken(<%= current_user.auth_token.to_json.html_safe %>);
    }

    </script>
    <div id="Player">
      <%= raw(File.read "#{Rails.root}/public/games/"+@game.localpath) %>
    </div>
  <% end %>

  <%= div_for(@game, :class => "game") do |g| %>
      <%= link_to game_landing_url(id: g.path) do %>
       <div class="placeholder">
        <%= image_tag @game.image.url %>
       </div>
      <% end %>

    <div class="description">
      <h1><%= g.name %></h1>
      <p><%= g.description %></p>
    </div>
  <% end %>
</div>
