<div class="large_pathfinder_logo"></div>

<hr>

<div class="login_container">
  <%= form_tag("new_user", method: "get", class: "new_user") do %>
    <div><%= text_field_tag(:login, nil, placeholder: "Enter Username" , id: "user_login", size: 30) %></div>
    <div><%= password_field_tag(:password, nil, placeholder: "Enter Password" , id: "user_password", size: 30) %></div>
    <div><%= submit_tag("Sign In",class: "SignInButton") %></div>
  <% end %>

  <%= render "links" %>
</div>
