<%= render "activity_module" %>
<%= render "playtime_module" %>

<div class="welcome_back_container">
    <p class="left">Classes</p>
    <%= link_to new_group_url, class: :right do %>
        <div class="blue_button">
            <p>Add</p>
        </div>
    <% end %>
    <hr/>
</div>

<% if current_user.owned_groups.count ==0 %>
    <p class="module full">
      You currently have no Classes!
      <span class="welcome_name">
        <%= link_to "Create one", new_group_url %>
      </span>
    </p>
<% end %>

<% current_user.owned_groups.each do |course| %>
    <div class="module one_third left">
        <h2><span class="full left"><%= course.name %></span><p class="full right"><%= course.code %></p></h2>
        <% if course.on_db(:adage).users.count == 0 %>
            <hr>
            <p>No Students in class yet!</p>
        <% else %>

            <% course.on_db(:adage).users.each do |student| %>
                <hr>
                <p class=""><%= link_to student.player_name, profile_path(name: student.player_name) %></p>
            <% end %>
        <% end %>
    </div>
<% end %>
