<%= render "activity_module" %>
<%= render "playtime_module" %>

<div class="full">
    <div class="dashboard_content_container">
        <div class="header">
            <p>Classes</p>

            <%= link_to new_group_url do %>
                <p>Add</p>
            <% end %>
        </div>

        <div class="subsection">
            <p class="subhead">Play Time</p>
            <p>No Play Time Data Found</p>
        </div>
    </div>
</div>

<% if current_user.owned_groups.count == 0 %>
    <p class="module full">
      You currently have no Classes!
      <span class="welcome_name">
        <%= link_to "Create one", new_group_url %>
      </span>
    </p>
<% end %>

<% current_user.owned_groups.each do |course| %>
    <div class="module one_third left">
        <h2><span class="full left"><%= course.name %></span><p class="full right"><%= course.code %></p></h2>
        <% if course.on_db(:adage).users.count == 0 %>
            <hr>
            <p>No Students in class yet!</p>
        <% else %>

            <% course.on_db(:adage).users.each do |student| %>
                <hr>
                <p class=""><%= link_to student.player_name, profile_path(name: student.player_name) %></p>
            <% end %>
        <% end %>
    </div>
<% end %>
