<div id="container">
  <h3>Profile</h3>

  <div id="user">
    <h3 class="orange"><%= @user.player_name %></h3>
    <% @user.roles.each do |role| %>
      <%= role.type.to_s.split("Role")[0] %>
    <% end %>
    <span class="button">
      <a href=<%= ENV["ADAGE_PROFILE_URL"] %>>Change Profile</a>
    </span>
  </div>

  <div id="game_stats">
    <h2>Top Games</h2>
    <% total = 0 %>

    <div id="played">
      <% @games.each do |game| %>

        <% if game.has_data %>
          <div id="game">
            <span class="title large"><%= game.name %></span>
            <ul class="medium">
                LastPlayed:
                <%= Time.at(game.last_playtime.to_i).strftime "%A, %B %-d"  %>
            </ul>
          </div>
          <% total += 55 %>
        <% end %>
      <% end %>
    </div>
    <ul class="large">Total Play time: <%= total %></ul>
  </div>

  <div id="badges">


  </div>
</div>