<div id="container">
  <h2 id="title" >Profile</h2>

  <div id="user">
    <div id="account">
      <h2 class="orange"><%= @user.player_name %></h2>
      <% @user.roles.each do |role| %>
        <%= role.type.to_s.split("Role")[0] %>
      <% end %>
    </div>
    <a href=<%= ENV["ADAGE_PROFILE_URL"] %> class="button">Update Profile</a>
  </div>

  <div id="game_stats">
    <h2>Top Games</h2>
    <% total = 0 %>

    <div id="played">
      <% @games.each do |game| %>

        <% if game.has_data %>
          <div id="game">
            <span class="title large"><%= game.name %></span>
            <div class="medium">
                <label>LastPlayed:</label>
                <span><%= Time.at(game.last_playtime.to_i).strftime "%A, %B %-d"  %></span>
            </div>
          </div>
          <% total += 55 %>
        <% end %>
      <% end %>
    </div>
    <ul class="large">Total Play time: <%= total %></ul>
  </div>

  <div id="badges">
    Room for Badges or achievements
  </div>
</div>