<tr class="topic <%= cycle('odd', 'even') %> <%= topic.locked? ? 'locked' : 'unlocked' %>">
  <td class='byline'>
    <%= new_since_last_view_text(topic) %>
    <div class='subject'><%= link_to forem_emojify(topic.subject), forem.forum_topic_path(@forum.id, topic) %></div>
    <div class='started-by'><%= t "started_by" %><%= relevant_posts(topic).first.user.forem_name %></div>
  </td>
  <td class='latest-post'>
    <%= link_to_latest_post(topic) -%>
  </td>
  <td class='posts-count'><%= relevant_posts(topic).count %></td>
  <td class='views-count'><%= topic.views_count %></td>
</tr>
