<% @guild = Guild.find(params[:id]) %>

<% if can?(:read, forum) %>
  <h2><%= forum.title %></h2>
  <tr class="forum <%= cycle("odd", "even") %>">
    <td>

      <%= link_to forum.title, forum_path(forum.id), :class => "title" %>
      <div class='description'><%= forem_format(forum.description) %></div>
      <%= t('forem.forums.index.last_post') -%>

  </tr>
<% end %>