<!DOCTYPE html>
<html>
<head>
    <title>Playsquad Outreach - Dashboard</title>
    <meta name="description"
          content="">
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- Stylesheets -->

    <!-- Add jQuery Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/ulg5kch.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body>
  <header>
    <!-- Navigation -->
    <div class="navigation_container">
        <%= link_to root_url do%>
          <div class="header_logo"></div>
        <% end %>

        <ul class="nav">
            <div class="nav_divider"></div>
            <%= link_to root_url do%>
              <li>Games</li>
            <% end %>
              <% if user_signed_in? %>
                <div class="nav_divider"></div>
                <%= link_to profile_url(name: current_user.player_name) do %>
                  <li>Dashboard</li>
                <% end %>
            <% end %>
            <div class="nav_divider"></div>
        </ul>

        <%= render "user/account" %>
    </div> <!-- End Navigation -->
  </header>

  <div class="page_wrap">
    <% if flash[:notice] || flash[:error] %>
      <div id="notifications" class="module center">
          <p><%= flash[:notice] || flash[:error]%></p>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <footer><%= render "user/admin" %></footer>
  <div class="clear"></div>
</body>
</html>
