<!DOCTYPE html>
<html>
<head>
  <title>GlsPortal</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="header">
    <div id="links">
      <%= link_to "Home" , root_url%>
      <%= render "user/account" %>
    </div>
  </div>

  <div id="content">
    <div id="notifications" class="medium center"><%= flash[:notice] %></div>

    <%= yield %>

    <div id="footer">
      <div class="floatleft">
        <p class="center"></p>
      </di>
    </div>
  </div>
</body>

<footer>
  <%= render "user/admin" %>
</footer>
</html>
