<!DOCTYPE html>
<html>
<head>
  <title>GlsPortal</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="page_wrap">
  <div id="header">
    <div id="links">
      <%= link_to "Home" , root_url%>

      <%= render "user/account" %>
    </div>
  </div>

  <%= yield %>
  <hr>

  <div id="footer">
    <div class="floatleft">
      <p class="center">Copyright © 2013 Games Learning Society</p>
    </di>
  </div>
</div>

</body>
</html>
