<!DOCTYPE html>
<html>
<head>
    <title>GLS Games Portal</title>
    <meta name="description"
          content="">
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- Stylesheets -->

    <!-- Add jQuery Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/tpf8azg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

</head>

<body>
  <header>
    <!-- Navigation -->
    <div class="navigation_container">
        <%= link_to root_url do%>
          <div class="logo_container">
            <div class="glss_logo"></div>
            <div class="gamesportal_logotype">
                <p>Games<span class="redtext">Portal</span></p>
            </div>
          </div>
        <% end %>

        <ul class="nav">
          <%= link_to root_url do%>
            <li>Games</li>
          <% end %>
          <%= render "user/account" %>
        </ul>

    </div> <!-- End Navigation -->
  </header>

  <div class="page_wrap">
    <% if flash[:notice] || flash[:error] %>
      <div id="notifications" class="module center">
          <p><%= flash[:notice] || flash[:error]%></p>
      </div>
    <% end %>

    <div class="main_content">
    <%= yield %>
    </div>
  </div>

  <footer><%= render "user/admin" %></footer>
  <div class="clear"></div>
</body>
</html>
